<main>
    
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-info">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <b>Register User</b>
              </div>
              
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign up with credentials</small>
              </div>
              <form role="form">
                
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input [(ngModel)]="registerUserData.email" name="email" class="form-control" placeholder="Email" type="email" (focus)="focus1=true" (blur)="focus1=false" required>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input [(ngModel)]="registerUserData.password"  name="password" class="form-control" placeholder="Password" type="password" (focus)="focus2=true" (blur)="focus2=false" required>
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    </div>
                    <input [(ngModel)]="registerUserData.name"  name="name" class="form-control" placeholder="Your Name" type="text" (focus)="focus2=true" (blur)="focus2=false" required>
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    </div>
                    <input [(ngModel)]="registerUserData.phone"  name="phone" class="form-control" placeholder="Your Contact No" type="text" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <select [(ngModel)]="registerUserData.userstatus" name="userstatus" class="form-control" placeholder="user" type="text" (focus)="focus=true" (blur)="focus=false" required>
                      <option>Customer</option>  
                      <option>Restaurant Owner</option>
                    </select>
                  </div>
                </div>

              
                
                <div class="row my-4">
                  <div class="col-12">
                    
                  </div>
                </div>
                <div class="text-center">
                  <button (click)="registerUser()" type="submit" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
              
            </div>
          </div>
        </div>
        

      </div>
    </div>
  </section>
</main>
