<main>

   
  
   
    <ngb-carousel>
        <ng-template ngbSlide>
          <img class="img-fluid" src="../../assets/img/carousel/arrowpointbanner.jpg" alt="First slide" class="w-100" >
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="../../assets/img/carousel/BANNER-SFVac-L3-6-big-sur-waterfall-shutterstock-super.jpg" alt="Second slide" class="w-100" >
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="../../assets/img/carousel/torarica-hotel-banner.png" alt="Third slide" class="w-100" >
        </ng-template>
    </ngb-carousel>

   <div style="margin-bottom: 100px;"></div> 

  <app-sections></app-sections>
</main>

<app-view-adds>Loading</app-view-adds>
