<style>
  mat-form-field {
    width: 100%;
  }
</style>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="container">
              <div class="row justify-content-center">
                <h1>Register Your Restaurant</h1>
              </div>
              <form [formGroup]="restaurantForm" [hidden]="success" (ngSubmit)="onSubmit()">
                <div class="row justify-content-center" style="margin-top:40px">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Restaurant Name" type="text" formControlName="restaurant_name">

                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Restaurant Register No:" type="text" formControlName="reg_no">
                    </mat-form-field>
                  </div>

                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Restaurant Description" formControlName="discription"></textarea>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Name Of the Owner" type="text" formControlName="owner_name">
                    </mat-form-field>
                  </div>

                  <div class="col-md-5">
                    <mat-form-field>
                      <input matInput placeholder="NIC" type="number" formControlName="NIC">
                    </mat-form-field>
                  </div>

                  <div class="col-md-1" style="margin-top:20px">
                    <b>V</b>
                  </div>


                  <b>Address</b>

                  <mat-form-field>
                    <input matInput placeholder="Street Address 1" type="text" formControlName="streetAddress1">
                  </mat-form-field>

                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Street Address 2" type="text" formControlName="streetAddress2">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="City" type="text" formControlName="city">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Contact No" type="text" formControlName="phone_no">
                    </mat-form-field>
                  </div>
                  
                  <label for="singleFile">Upload file</label>
                    <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
                    <br>
                    
                    <mat-file-upload-queue #fileUploadQueue
                        [fileAlias]="'file'"
                        [httpUrl]="'http://localhost:3000/restaurants/addImage'">
                    
                        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                    </mat-file-upload-queue>
                </div>
                <div class="row justify-content-center">
                  <input type="submit" value="Submit details" class="btn btn-primary">
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>