<style>
  mat-form-field {
    width: 100%;
  }
</style>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="container">
              <div class="row justify-content-center">
                <h1>Register Your Restaurant</h1>
              </div>
              <form [formGroup]="restaurantForm" [hidden]="success" (ngSubmit)="onSubmit()">
                <div class="row justify-content-center" style="margin-top:40px">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Restaurant Name" type="text" formControlName="restaurant_name">
                      <div *ngIf="submitted && restaurantForm.controls.restaurant_name.errors" class="error">
                          <div *ngIf="restaurantForm.controls.restaurant_name.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Restaurant Register No:" type="text" formControlName="reg_no">
                      <div *ngIf="submitted && restaurantForm.controls.reg_no.errors" class="error">
                          <div *ngIf="restaurantForm.controls.reg_no.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>

                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Restaurant Description" formControlName="discription"></textarea>
                    <div *ngIf="submitted && restaurantForm.controls.discription.errors" class="error">
                        <div *ngIf="restaurantForm.controls.discription.errors.required" style="color:red">This field is required</div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Name Of the Owner" type="text" formControlName="owner_name">
                      <div *ngIf="submitted && restaurantForm.controls.owner_name.errors" class="error">
                          <div *ngIf="restaurantForm.controls.owner_name.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-5">
                    <mat-form-field>
                      <input matInput placeholder="NIC" type="number" formControlName="NIC">
                      <div *ngIf="submitted && restaurantForm.controls.NIC.errors" class="error">
                          <div *ngIf="restaurantForm.controls.NIC.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-1" style="margin-top:20px">
                    <b>V</b>
                  </div>


                  <b>Address</b>

                  <mat-form-field>
                    <input matInput placeholder="Street Address 1" type="text" formControlName="streetAddress1">
                    <div *ngIf="submitted && restaurantForm.controls.streetAddress1.errors" class="error">
                        <div *ngIf="restaurantForm.controls.streetAddress1.errors.required" style="color:red">This field is required</div>
                    </div>
                  </mat-form-field>

                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Street Address 2" type="text" formControlName="streetAddress2">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="City" type="text" formControlName="city">
                      <div *ngIf="submitted && restaurantForm.controls.city.errors" class="error">
                          <div *ngIf="restaurantForm.controls.city.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Contact No" type="text" formControlName="phone_no">
                      <div *ngIf="submitted && restaurantForm.controls.phone_no.errors" class="error">
                          <div *ngIf="restaurantForm.controls.phone_no.errors.required" style="color:red">This field is required</div>
                      </div>
                    </mat-form-field>
                  </div>
                
                  
            

                  <div style="text-align:center">
                      <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
                  </div>
                
                </div>

                <b>Available Food Items</b>
                <div *ngFor="let data of fooditems">
                    <input type="checkbox" (change)="onChange(data.fooditem, $event.target.checked)"> {{data.fooditem}}
                    <br>
                </div>
                <div class="row justify-content-center">
                  <input type="submit" value="Submit details" class="btn btn-primary">
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>