<style>
  mat-form-field {
    width: 100%;
  }
</style>
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="container" style="margin-top:50px; margin-bottom:50px">
            <form [formGroup]="searchForm" [hidden]="success" (ngSubmit)="onSubmit()">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Search" formControlName="searchdata">
              </mat-form-field>
              <input type="checkbox" [(ngModel)]="filters" formControlName="filters"> Search With Advanced Filters<br>
              <div class="row" *ngIf="checkFilters()">
                <div class="col-md-6">
                    
                <b>Available Food Items</b>
                      <br>
                      <input type="checkbox" formControlName="SriLankan">  Sri Lankan<br>
                      <input type="checkbox" formControlName="Arabian"> Arabian<br>
                      <input type="checkbox" formControlName="Western">  Western<br>
                      <input type="checkbox" formControlName="Indian">  Indian<br>
                      <input type="checkbox" formControlName="Vegetarian"> Vegetarian<br>
                        <br>
                  
                </div>
                <div class="col-md-6">
                  <b>Available Facilities</b>
                  <br>
                      <input type="checkbox" formControlName="wifi">  WIFI<br>
                      <input type="checkbox" formControlName="parking"> Parking<br>
                      <input type="checkbox" formControlName="child_care">  Child Care<br>
                      <input type="checkbox" formControlName="liquor">  Liquor<br>
                      <input type="checkbox" formControlName="familyrestaurant">  Family Restaurant<br>
                      <input type="checkbox" formControlName="beachfront">  Beach Front<br>
                      <input type="checkbox" formControlName="wheelchair">  Wheel Chair Accessible<br>
                      <input type="checkbox" formControlName="delivery">  Delivery<br>
                  </div>
              </div>
              <br>
              <br>

              <div class="row justify-content-center">
                  <input type="submit" value="Search By Name" class="btn btn-primary" *ngIf="!checkFilters()">
                  <input type="submit" value="Search By City" class="btn btn-primary" *ngIf="!checkFilters()">
                  <input type="submit" value="Search By Filters" class="btn btn-primary" *ngIf="checkFilters()">
                </div>

            </form>
            <br>
            <div class="row justify-content-center">
                <input type="button" value="Sort By Ratings" (click)="getResults()" class="btn btn-primary" *ngIf="!checkFilters()">
            </div>
            <div class="container" style="margin-top: 30px;">
              <div class="row justify-content-center">
                <div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Registration No</th>
                        <th scope="col">Hotel Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rating(Stars)</th>
                        <th scope="col">City</th>
                        <th scope="col">Phone No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let restaurant of restaurants" (click)="onClick(restaurant.reg_no)">
                        <td>{{restaurant.reg_no}}</td>
                        <td>{{restaurant.restaurant_name}}</td>
                        <td>{{restaurant.streetAddress1}}</td>
                        <td><b>{{restaurant.rating}}</b></td>
                        <td>{{restaurant.city}}</td>
                        <td>{{restaurant.phone_no}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>