<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent bg-default headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <h3 class="text-light">Restaurant Finder</h3>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!--
      <ul class="navbar-nav">
          <button mat-flat-button color="primary"  [routerLink]="['/registerRestaurant']">
            <i class="fa fa-plus" aria-hidden="true"></i>Register Restaurant
          </button>
          
      </ul>
      <ul class="navbar-nav">
          <button mat-flat-button color="primary" (click)="chat()">Chat</button>
      </ul>
      <ul class="navbar-nav">
          <button mat-flat-button color="primary" [routerLink]="['/viewRestaurants']">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search Restaurants
          </button>
      </ul>
    -->
      <!--
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Menu</span>
          </a>
          <div class="dropdown-menu">
            <a *ngIf="!_authService.loggedIn()" [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a *ngIf="!_authService.loggedIn()" [routerLink]="['/register']" class="dropdown-item">Register</a>
            <a *ngIf="_authService.loggedIn()" class="dropdown-item"(click)="_authService.logoutUser()">Logout</a>
            <a [routerLink]="['/registerRestaurant']" class="dropdown-item">Register Restaurant</a>
            <a [routerLink]="['/viewRestaurants']" class="dropdown-item">Search Restaurants</a>
          </div>
        </li>
     
      </ul>-->
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item" *ngIf="changeInterface()">
            <button mat-flat-button color="primary"  [routerLink]="['/registerRestaurant']">
              <i class="fa fa-plus" aria-hidden="true"></i>Register Restaurant
            </button>
        </li>
        <li class="nav-item" *ngIf="changeInterface()">
            <button mat-flat-button color="primary"  [routerLink]="['/postAdds']">
              <i class="fa fa-picture-o" aria-hidden="true"></i>Post An Add
            </button>
        </li>

        <li *ngIf="_authService.loggedIn()" class="nav-item">
            
            <button mat-flat-button color="primary" (click)="chat()"><i class="fa fa-weixin" aria-hidden="true"></i>Chat</button>
        </li>
        <li class="nav-item">
            <button mat-flat-button color="primary" [routerLink]="['/viewRestaurants']">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search Restaurants
            </button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="primary" *ngIf="!_authService.loggedIn()" [routerLink]="['/login']" data-toggle="tooltip" title="Login">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign In
          </button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="primary" *ngIf="!_authService.loggedIn()" [routerLink]="['/register']" data-toggle="tooltip" title="Register">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Register
          </button>
        </li>
        <li class="nav-item">
          <button mat-flat-button color="primary" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" data-toggle="tooltip" title="Logout">
              <i class="fa fa-sign-out" aria-hidden="true">
            </i>Logout
              </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
