<style>
    mat-form-field {
      width: 100%;
    }
  </style>

    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="container" style="margin-top:50px; margin-bottom:50px">
              <div class="container">
                <div class="row justify-content-center">
                  <h1>Add Your Review</h1>
                </div>
                <form [formGroup]="reviewForm" [hidden]="success" (ngSubmit)="onSubmit()">
                  <div class="row" style="margin-top:40px">
                    <div class col-md-2>
                        <div style="text-align:'center'">
                            <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
                            <b>{{imagecount}} images Has been uploaded.</b>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Review" formControlName="review"></textarea>
                          </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Your Rating</mat-label>
                            <mat-select formControlName="rating" [(ngModel)]="rating" name="rating">
                              <mat-option  [value]="1"><i class="fa fa-star" aria-hidden="true"></i></mat-option>
                              <mat-option  [value]="2"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></mat-option>
                              <mat-option  [value]="3"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></mat-option>
                              <mat-option  [value]="4"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></mat-option>
                              <mat-option  [value]="5"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    
                  </div>
                  
                  <div class="row justify-content-center">
                      
                  </div>
                  <br>
                  <br>
 
                  <div class="col-md-3">
                      Your Name: <b>{{Name}}</b>
                   </div> 
                   <div class="col-md-3">
                      Your Rating: <b>{{rating}} Stars</b>
                   </div> 
                  

                  <div class="row justify-content-center">
                    <input type="submit" value="Submit Review" class="btn btn-primary">
                  </div>
  
                </form>

                
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </section>
