<style>
    mat-form-field {
      width: 100%;
    }
  </style>

    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="container" style="margin-top:50px; margin-bottom:50px">
              <div class="container">
                <div class="row justify-content-center">
                  <h1>Add Your Review</h1>
                </div>
                <form [formGroup]="reviewForm" [hidden]="success" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center" style="margin-top:40px">

                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Review" formControlName="review"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
 
                  </div>
                  <div class="row justify-content-center">
                    <input type="submit" value="Submit Review" class="btn btn-primary">
                  </div>
  
                </form>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </section>
